body {
    color: #778586;
    font-family: Georgia, serif;
}

header {
    display: flex;
}

header button {
    margin: 0 auto;
    background-color: #c9d2d7;
    color: #929da2;
    border: none;
    border-radius: 5px;
    width: 15%;
    outline: none;
    transition: .3s all;
    cursor: pointer;
}

header button:hover {
    background: linear-gradient(
            rgba(0, 0, 0, 0.7),
            rgba(0, 0, 0, 0.7)
    );
}

header h1 {
    margin: 0;
    font-weight: normal;
}

main {
    margin: 1rem auto;
}

.chosen {
    display: flex;
    width: 50%;
    flex-wrap: wrap;
    justify-content: space-around;
    align-content: center;
}

.chosen h2 {
    width: 100%;
    font-size: 40px;
}

.chosen img {
    height: 50%;
}

.chosen span.temperature {
    font-size: 72px;
}

ul.info {
    list-style: none;
    width: 50%;
}

ul.info li {
    background-color: #a7afb1;
    color: white;
    display: flex;
    justify-content: space-between;
    margin: 1%;
    padding: 1%;
}

ul.info li span {
    color: #c9d2d7;
}

.wrap {
    display: flex;
}

.favourite {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.favourite h2 {
    margin: auto 1%;
    width: 48%;
    font-size: 40px;
}

.favourite label {
    width: 48%;
    text-align: right;
    margin: auto 1%;
}

.favourite label input {
    border: none;
    border-radius: 5px;
    background-color: #f1f1f1;
    padding: 2%;
    width: 50%;
    outline: none;
}

.favourite label button {
    background-color: #708188;
    color: white;
    outline: none;
    font-size: 150%;
    border: none;
    border-radius: 50%;
    transition: .3s all;
    cursor: pointer;
    padding: 2%;
    height: 50%;
    width: 7.5%;
}

.favourite label button:hover {
    background: linear-gradient(
            rgba(155, 155, 155, 0.5),
            rgba(155, 155, 155, 0.5)
    );
}

.favourite .input::placeholder {
    color: #929da2;
}

.favourite ul {
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    padding: 0;
    margin: 0;
}

.favourite ul li {
    width: 48%;
    margin: 1%;
}

.favourite ul .city {
    display: flex;
    padding: 0 2%;
    justify-content: space-between;
}

.favourite ul .city h3 {
    font-size: 30px;
}


.favourite ul .city span {
    font-size: 45px;
}

.favourite ul.info {
    width: 100%;
    margin: 0;
}

.favourite ul.info li {
    width: 100%;
}

.favourite ul button {
    background-color: #708188;
    color: white;
    outline: none;
    font-size: 150%;
    border: none;
    border-radius: 50%;
    transition: .3s all;
    cursor: pointer;
    padding: 2%;
    height: 50%;
    width: 7.5%;
}

.favourite ul button:hover {
    background: linear-gradient(
            rgba(155, 155, 155, 0.5),
            rgba(155, 155, 155, 0.5)
    );
}
