body {
    color: #778586;
    font-family: Georgia, serif;
}

header {
    display: flex;
}

header button.desktop {
    margin: 0 auto;
    background-color: #c9d2d7;
    color: #929da2;
    border: none;
    border-radius: 5px;
    width: 15%;
    outline: none;
    transition: .3s all;
    cursor: pointer;
}

header button.mobile {
    display: none;
    margin: 0 auto;
    background-color: #c9d2d7;
    color: #929da2;
    border: none;
    border-radius: 5px;
    width: 15%;
    outline: none;
    transition: .3s all;
    cursor: pointer;
}

header button:hover {
    background: linear-gradient(
            rgba(0, 0, 0, 0.7),
            rgba(0, 0, 0, 0.7)
    );
}

header h1 {
    margin: auto 1%;
    font-weight: normal;
}

main {
    margin: 1rem auto;
}

.placeholder {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 300%;
}

.placeholder span {
    background-color: #c9d2d7;
    text-align: center;
    height: 4vw;
    width: 6vw;
}

.chosen {
    display: flex;
    width: 50%;
    flex-wrap: wrap;
    justify-content: space-around;
    align-content: center;
}

.chosen h2 {
    margin: 2%;
    width: 100%;
    font-size: 250%;
}

.chosen img {
    height: 50%;
}

.chosen span.temperature {
    font-size: 500%;
}

ul.info {
    list-style: none;
    width: 48%;
    margin: auto 1%;
    padding: 0;
}

ul.info li {
    background-color: #a7afb1;
    color: white;
    display: flex;
    justify-content: space-between;
    margin: 1%;
    padding: 1%;
}

ul.info li span {
    color: #c9d2d7;
}

.wrap {
    display: none;
}

.favourite {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.favourite h2 {
    margin: auto 1%;
    width: 48%;
    font-size: 300%;
}

.favourite form {
    width: 47%;
    text-align: right;
    margin: auto 0.5%;
    padding-right: 1%;
}

.favourite form input {
    border: none;
    border-radius: 5px;
    background-color: #f1f1f1;
    padding: 2%;
    width: 50%;
    outline: none;
}

.favourite button {
    background-color: #708188;
    color: white;
    outline: none;
    font-size: 2vw;
    border: none;
    border-radius: 50%;
    transition: .3s all;
    cursor: pointer;
    padding: 0;
    justify-content: center;
    height: 3.5vw;
    width: 3.5vw;
}

.favourite form button:hover {
    background: linear-gradient(
            rgba(155, 155, 155, 0.5),
            rgba(155, 155, 155, 0.5)
    );
}

.favourite .input::placeholder {
    color: #929da2;
}

.favourite ul {
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    padding: 0;
    margin: 0;
}

.favourite ul li {
    width: 48%;
    margin: 1%;
}

.favourite ul .city {
    display: flex;
    padding: 0 1%;
    justify-content: space-between;
    align-items: center;
}

.favourite ul .city h3 {
    font-size: 2rem;
    margin: 0;
}


.favourite ul .city span {
    font-size: 3rem;
}

.favourite ul.info {
    width: 100%;
    margin: 0;
}

.favourite ul.info li {
    width: 100%;
}

/*.favourite  button {*/
/*    background-color: #708188;*/
/*    color: white;*/
/*    outline: none;*/
/*    font-size: 1.5rem;*/
/*    border: none;*/
/*    border-radius: 50%;*/
/*    transition: .3s all;*/
/*    cursor: pointer;*/
/*    padding: 0;*/
/*    justify-content: center;*/
/*    height: 5vw;*/
/*    width: 5vw;*/
/*}*/

.favourite ul button:hover {
    background: linear-gradient(
            rgba(155, 155, 155, 0.5),
            rgba(155, 155, 155, 0.5)
    );
}

@media screen and (max-width: 700px) {
    header button.mobile {
        display: inline-block;
        font-size: 200%;
        width: auto;
    }

    header button.desktop {
        display: none;
    }

    header h1 {
        margin: auto 2%;
        font-weight: normal;
    }

    .favourite ul li {
        width: 100%;
    }

    .wrap {
        flex-wrap: wrap;
    }

    .chosen {
        width: 100%;
    }

    .wrap ul {
        width: 100%;
    }

    .favourite h2 {
        width: 100%;
    }

    .favourite form {
        width: 100%;
        text-align: left;
        margin: auto 0;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .favourite form input {
        width: 85%;
        margin: 1%;
        padding: 3% 1%;
    }

    .favourite button {
        width: 9vw;
        height: 9vw;
        font-size: 7vw;
    }

    .favourite ul .city h3 {
        font-size: 2rem;
    }

    .favourite ul .city span {
        font-size: 2rem;
    }

    .favourite ul .city img {
        width: 18%;
    }

}
